.page{
    width: 80%;
}
.title{
    text-align: center;
}
.message{
    width:100%;
    margin: 1em;
}
.message_title{
    text-align: left;
    padding:1em 0;
}
.message_content{
    padding:1em;
    border: 1px dotted white;
}